// reset
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
}

main,
.main-blog,
.blog,
.top-blogs,
.top-blog-topic,
.search-form,
#search-topic,
.search-results,
.add-blog,
.add-blog input,
.add-blog textarea,
.login,
.signup,
.about,
.contact {
  border: none;
}